:root {
    --background-color: rgb(241, 241, 241);
    --text-color: black;
    --light-text-color: seashell;
    /*four color palette for buttons */
    --teal: #2AC3D5;
    --purple: #922AD5;
    --red: #D53C2A;
    --green: #66CC00;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
body {
    width: 100vw;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header {
    width: 80vw;
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
