:root {
    --background-color: seashell;
    --text-color: black;
    --light-text-color: seashell;

}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}