:root {
    --background-color: rgb(241, 241, 241);
    --text-color: black;
    --light-text-color: seashell;
    /*four color palette for buttons */
    --teal: #2AC3D5;
    --purple: #922AD5;
    --red: #D53C2A;
    --green: #66CC00;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 100vw;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header {
    width: 80vw;
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
button {
    flex: 1;
    margin: 0 0.5rem;
    padding: 1rem;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(145, 145, 145);
}
#web-development {
    background-color: var(--teal);
}
#html {
    background-color: var(--purple);
}
#css {
    background-color: var(--red);
}
#javascript {
    background-color: var(--green);
}
main {
    width: 80vw;
}
#room-and-user {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 16px;
}
p {
    border: 1pt solid black;
    border-radius: 5px;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
}